body {
  background: url('/public/webbg.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  display: flex;
  width: 750px;
  height: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.register-left {
  width: 50%;
  background: #6db9ff; /* Blue Background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-logo {
  width: 200px; /* Adjust size */
  height: auto;
}

.register-right {
  width: 50%;
  background: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: black;
}

.google-register {
  width: 92%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

hr {
  width: 95%;
  max-width: 400px;
  border: none;
  border-top: 2px solid rgb(235, 235, 235);
  margin: 20px auto;
  flex: none;
}

input {
  width: 85%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.register-button {
  width: 90%;
  background: #6db9ff;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

p {
  margin-top: 12px;
  font-size: 14px;
}

p a {
  color: #6db9ff;
  font-weight: bold;
  text-decoration: none;
}
